[2018-04-01 15:27] matthewtrask opened #1 "Setup some kind of automated git push -> deploy process. Can this be done with travis-ci?"
You could do a simple server on something like Laravel Forge and Travis where if Travis returns all tests passing, it will trigger Forge to deploy to production.

[2018-04-01 15:29] jwage commented on #1
I think the whole thing could be done on Travis. The build and push to ghpages.

[2018-04-01 15:30] matthewtrask commented on #1
yup, looks like here: https://docs.travis-ci.com/user/deployment/pages/

[2018-04-02 06:38] jwage commented on #1
This is setup now 😁 Ended up going with a free tier AWS server that triggers a publish on push to master across this repo and any project repo that has docs.

[2018-04-02 06:38] #1 closed

[2018-04-02 13:38] lex111 opened #6 "Adding multilingual support"
Is it possible to add translation support? For example, to translate documentation into another language? That would be great.

[2018-04-02 13:55] Ocramius commented on #6
We don't have the throughput nor enough dedicated maintainers to follow translations closely. If we can get dedicated people that can really throw in massive amounts of time just to do the translations (long-term), then sure, but otherwise not really worth doing for now, as it's a huge huge task that takes a lot of time over the years (and not just initially).

Out of sync docs is worse than no do

[2018-04-02 14:11] lex111 commented on #6
Okay, can I create an unofficial translation using this generator?
I want to try to create a translation as part of the Doctrine study.

[2018-04-03 07:23] jwage opened #12 "Use travis ci to do deploys"
Right now we are using a vm in AWS to do the builds but it would be ideal if we could use 100% travis. Someone needs to figure out how to make this work with our setup.

[2018-04-03 07:26] jwage commented on #6
Would it be worth it to automatically generate translated versions at build time with Google? Not sure if it makes sense. People can just do that in their browser.

[2018-04-03 07:27] jwage opened #13 "Add doctrine/coding-standard"
Add doctrine/coding-standard to this repository to enforce the Doctrine coding standards.

[2018-04-03 07:32] jwage opened #14 "Implement custom rst code configuration-block directive"
Right now we do not support the configuration block directive and the example below just renders the code examples one after another.

    .. configuration-block::

        .. code-block:: php

            <?php
            /** @Entity */
            class Message
            {
                //...
            }

        .. code-block:: xml

            <doctrine-mapping>
              <entity na

[2018-04-03 07:37] jwage opened #15 "Enhance styles of notes, warnings, etc"
We need to differentiate them more and make them look better.

See examples here https://www.doctrine-project.org/example/

Code is here https://github.com/doctrine/doctrine-website-sculpin/blob/master/source/example.rst

Custom directives can be found here https://github.com/doctrine/doctrine-website-sculpin/tree/master/app/src/Doctrine/Website/DoctrineSculpinBundle/Directive

[2018-04-05 07:15] jwage opened #20 "Add documentation for doctrine/annotations"
Right now it is empty and says coming soon. Even something very basic to get started would be better than what we have now.

https://github.com/doctrine/annotations/tree/master/docs/en

[2018-04-05 07:15] jwage opened #21 "Add documentation for doctrine/cache"
Right now it is empty and says coming soon. Even something very basic to get started would be better than what we have now.

https://github.com/doctrine/cache/tree/master/docs/en

[2018-04-05 07:16] jwage opened #22 "Add documentation for doctrine/collections"
Right now it is empty and says coming soon. Even something very basic to get started would be better than what we have now.

https://github.com/doctrine/collections/tree/master/docs/en

[2018-04-05 07:16] jwage opened #23 "Add documentation for doctrine/inflector"
Right now it is empty and says coming soon. Even something very basic to get started would be better than what we have now.

https://github.com/doctrine/inflector/tree/master/docs/en

[2018-04-05 07:17] jwage opened #24 "Add documentation for doctrine/lexer"
Right now it is empty and says coming soon. Even something very basic to get started would be better than what we have now.

https://github.com/doctrine/lexer/tree/master/docs/en

[2018-04-05 07:17] jwage opened #25 "Add documentation for doctrine/orientdb-odm"
Right now it is empty and says coming soon. Even something very basic to get started would be better than what we have now.

https://github.com/doctrine/orientdb-odm/tree/master/docs/en

[2018-04-06 05:51] jwage commented on #6
@lex111 feel free to do whatever you like with this repository. I would be interested to see what you build either way. Thanks!

[2018-04-06 05:51] #6 closed

[2018-04-06 07:00] jwage opened #30 "Rewrite all of the project descriptions so they are clear and consistent"
https://github.com/doctrine/doctrine-website-sculpin/blob/master/app/config/sculpin_kernel.yml#L180

[2018-04-06 07:18] jwage commented on #25
@odino Is this something you'd be up for doing?

[2018-04-06 23:34] jwage opened #32 "Migrate doctrine/migrations-documentation to doctrine/migrations"
We are standardizing on documentation living within the repository of each project in a folder named `docs`. We need to migrate https://github.com/doctrine/migrations-documentation to https://github.com/doctrine/migrations

[2018-04-07 00:49] jwage opened #35 "Levels of TOC should be affected by nested folders"
For example if you have `reference/index.rst` and `guides/index.rst` then in the TOC, the top level of the TOC should be `Reference` and `Guides`

[2018-04-07 02:34] jwage opened #37 "Move app/src/Gregwar/RST to a forked repository"
Currently the code is copied and modified in https://github.com/doctrine/doctrine-website/tree/master/app/src/Gregwar/RST but we should host a fork and reference that in composer.json instead. Eventually our modifications should be submitted back upstream.

[2018-04-07 02:34] jwage opened #38 "Turn on HSTS"
Document the redirect rules that need to be in place before turning on HSTS.

[2018-04-07 02:36] jwage opened #39 "Enhance /projects/{project} page to include more info"
Enhance /projects/{project} page to have initial docs or readme on that page so you don't have to click to the full docs to find out more about the project.

[2018-04-07 02:37] jwage opened #40 "Do code highlighting serverside at build time instead of with highlightjs"
Right now we do code highlighting client side:

- https://github.com/doctrine/doctrine-website/blob/master/source/js/main.js#L25
- https://github.com/doctrine/doctrine-website/blob/master/source/_layouts/layout.html#L23
- https://github.com/doctrine/doctrine-website/blob/master/source/_layouts/layout.html#L137

It would be best to do this server side at build time.

Could we use this? https://gith

[2018-04-07 02:38] jwage opened #41 "Build better version switcher UI in the docs"
We're going to probably eventually want to support more versions in the UI so we should enhance this UI.

[2018-04-07 15:01] belinde opened #45 "Missing YAML mapping documentation"
The YAML mapping documentation got lost in the new (very pretty) website. This page lead to a 404 Not Found: https://www.doctrine-project.org/projects/doctrine-orm/en/stable/reference/yaml-mapping.html

[2018-04-07 15:35] Ocramius commented on #45
Yaml mappings are gone from `master`, so is the YAML driver itself.

On Sat, 7 Apr 2018, 17:01 Franco Traversaro, <notifications@github.com>
wrote:

[2018-04-07 15:37] Majkl578 commented on #45
_Stable_ points to 2.6 and it's missing there, it's not working in 2.5 either.

[2018-04-07 15:50] belinde commented on #45
That's frankly alarming: I've used yaml in every project since EVER, and I really dislike annotations
Will it be possible to continue using yaml, in some way?

[2018-04-07 16:50] Ocramius commented on #45
See https://github.com/doctrine/DoctrineBundle/issues/776 about that (concise explanation).

My tip is to simply migrate to XML mappings.

[2018-04-07 17:11] #45 closed

[2018-04-07 18:10] jwage opened #47 "Complex tables with varying colspans aren't rendering correctly"
The RST parser we're using doesn't support this right now so I think the best course of action is to change the RST so that it can render with this RST parser.

[2018-04-07 18:31] carusogabriel commented on #13
@Majkl578 Thanks for ping me.

@jwage I'll handle it this night :)

[2018-04-07 20:14] carusogabriel commented on #13
@jwage What folders will be monitored by CS?

[2018-04-07 21:51] jwage opened #55 "Get rid of DoctrineSculpinBundle"
We don't need it anymore.

[2018-04-07 22:54] jwage opened #57 "Add security page"
For security disclosures. Who to contact, etc.

[2018-04-07 22:54] jwage opened #58 "Setup e-mail for doctrine-project.org"
We need aliases like security@doctrine-project.org and it would be nice if we all had doctrine branded e-mail addresses.

[2018-04-07 22:55] jwage commented on #57
Depends on #58

[2018-04-07 23:03] jwage commented on #13
@carusogabriel `app/src` and `tests`. If we need to move something we can.

[2018-04-07 23:35] Majkl578 opened #59 "Complete & categorize Team page"
https://www.doctrine-project.org/team/

It now contains 7 out of ~50 members, it looks a bit weird.
It should ideally show active/retired status and responsibilities/scope.

Design ideas:
* instead of having vertical list, make categorized columns - something like https://getbootstrap.com/docs/4.0/examples/album/
* don't publicly disclose e-mails - although it's an MD5 on the website, it's raw in

[2018-04-08 03:32] #59 closed

[2018-04-08 03:55] #25 closed

[2018-04-08 04:12] jwage opened #62 "Spruce up the projects list page"
Show more projects per column and try to include other info like latest version.

[2018-04-08 05:27] jwage opened #65 "We need some kind of url generation service"
Right now we have the url generation sprinkled throughout twig templates so if we ever change a url pattern, we have to change this in many places.

[2018-04-08 07:16] belinde commented on #45
Thanks a lot, I've already migrated one project to XML and it was quite painless, and now I wonder how I lived before without autocompletion :-/

Now I see that YAML documentation has come back to life: https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/yaml-mapping.html
Can I suggest to add a deprecation notice on it? I think that there are a lot o developers like me, in the

[2018-04-08 20:09] #62 closed

[2018-04-09 12:07] malarzm opened #71 "Bullet lists are not rendered correctly"
https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/1.2/reference/annotations-reference.html#title.1.47

vs

http://doctrine-orm.readthedocs.io/projects/doctrine-mongodb-odm/en/1.2.x/reference/annotations-reference.html#referencemany

[2018-04-09 13:01] jwage commented on #71
Something about the RST syntax is causing this.

[2018-04-09 16:14] malarzm commented on #71
Seems like parser is not supporting:

[code]

correctly, I guess easiest will be to change our docs to supported format.

[2018-04-10 08:11] odino commented on #25
hey @jwage :) it's been a while I've had a look at the orientdb odm, and honestly don't have time to add docs. Not sure if anyone from the community is interested as I think the project lost momentum :-P

[2018-04-10 08:12] #71 closed

[2018-04-10 11:10] stof opened #76 "Contribute page is outdated"
The "Contribute" page is outdated and requires a partial rewrite. Here are a few things I spotted (the list is not guaranteed to be exhaustive):

- maintenance branches are not called `release-*`
- JIRA is not used anymore

[2018-04-10 14:29] jwage opened #78 "Add functional web tests to phpunit"
After the build runs in the tests, set up something using symfony crawler to get the homepage, click a project, click docs, etc and assert things on the html.

[2018-04-10 17:45] jwage opened #84 "Add concept of maintained and unmaintained versions in the ui"
We have a maintained: true/false property on the version now, so we need to start using it in the UI.

[2018-04-10 17:46] jwage opened #85 "Fix TOC so that we have ordering again"
Each project should have a toc.rst that is used for the sidebar and the homepage of the docs.

The toc.rst should not use the glob option and instead explicitly define what shows up in the toc/sidebar and the order it should show up in.

[2018-04-10 20:43] jwage opened #86 "Move our ToctreeDirective back up in to gregwar/rst"

[2018-04-11 06:36] jwage commented on #23
Fixed in https://github.com/doctrine/inflector/pull/83

[2018-04-11 06:36] #23 closed

[2018-04-11 06:36] jwage commented on #24
Fixed in https://github.com/doctrine/lexer/pull/15

[2018-04-11 06:36] #24 closed

[2018-04-11 06:37] #30 closed

[2018-04-11 06:37] jwage commented on #35
This will be fixed by #88

[2018-04-11 06:39] jwage commented on #85
This will be fixed in #88

[2018-04-11 08:48] stof commented on #76
yeah, all the description of the *maintainer* workflow may be moved to a different chapter.

[2018-04-12 14:32] matuskopo opened #89 "Broken links and API docs missing link to code"
Hi,

I understand there was a need for new modern fresh responsive design, but from functionality scope it's not well done. As first, any previous existing URLs are not working now. Anything I've had in bookmarks, or if I'm using them from any discussions redirects to Not Found page :(

Second, when I've been using your previous API docs, I used to click on functions/properties to get into code an

[2018-04-12 14:45] Ocramius commented on #89
Could you please report the broken links? Most pages have correct redirects in place.

As for the API docs, they aren't there yet because current documentation generators are a bit clunky and we didn't throw time at them yet, since the grand majority of users have IDEs handling that bit.

[2018-04-12 17:14] jwage commented on #89
I fixed an issue this morning in #90 with how we migrated our blog posts. Posts that had periods in the url did not get the url maintained properly so that one is fixed now. I am anxious to hear back from you on what URLs did not get maintained so that I can quickly address the problem. Thanks!

[2018-04-12 22:25] jwage opened #91 "Anchors not in the toc/sidebar break the expanding of the sidebar"
If you click an anchor that is manually setup in a page, it breaks the auto expanding of the sidebar.

[2018-04-12 22:27] jwage opened #92 "Add doctrine-mapping.xsd to the new site"
It needs to be located here:

- http://www.doctrine-project.org/schemas/orm/doctrine-mapping.xsd
- https://www.doctrine-project.org/schemas/odm/doctrine-mongo-mapping.xsd

Previously it looks like we had a redirect setup to this file in github:

- https://raw.githubusercontent.com/doctrine/doctrine2/master/doctrine-mapping.xsd
- https://raw.githubusercontent.com/doctrine/mongodb-odm/master/doctrin

[2018-04-12 22:53] jwage opened #93 "Version link should not exist if that version does not have the same file"

[2018-04-12 23:18] jwage opened #95 "Some references are made with underscores instead of hyphens"
For example:

     :ref:`pessimistic locking <transactions_and_concurrency_pessimistic_locking>`

This works in sphinx even though the chapter file is named with hyphens instead of underscores. The parser must do some kind of check on both formats or normalization of formatting for lookups/resolution.

[2018-04-12 23:22] jwage opened #96 "Bad references should be reported instead of being ignored silently"
Right now if some docs have a reference to a page that doesn't exist, it just silently ignores it and leaves an empty href.

[2018-04-12 23:31] #35 closed

[2018-04-12 23:31] #85 closed

[2018-04-12 23:54] jwage opened #97 "Backport structure enhancements to docs"
Once we're done getting everything the way we want it in master, backport it to the last supported version and any future branches.

[2018-04-12 23:56] jwage commented on #92
Fixed in bca2cd985edc55b0d52e9b879c1c88f499cd5410

[2018-04-12 23:56] #92 closed

[2018-04-13 03:20] jwage opened #99 "Standardize the readme across our projects with a consistent header"
- Consistent header
- Consistent links for help
- Link to the project on the website

[2018-04-13 03:48] #91 closed

[2018-04-13 04:36] #84 closed

[2018-04-13 05:25] #76 closed

[2018-04-13 09:13] malarzm commented on #92
@jwage previously we also had a possibility to link to specific version of XSD, i.e. https://www.doctrine-project.org/schemas/odm/doctrine-mongo-mapping-1.0.0-BETA12.xsd (from our docs). Do we want to maintain the behaviour?

[2018-04-13 15:01] jwage commented on #92
How did this work before?

[2018-04-13 16:03] B-Galati opened #103 "RSS feed"
Hello and thanks for this new website :+1:

Would it be possible to add a RSS feed ?

[2018-04-13 16:29] jwage commented on #103
Yes, it should be possible. Did we have one before? What was the url you were using if so?

[2018-04-13 16:58] jwage commented on #89
@matuskopo any chance you could help me out and let me know which links you are using that are not working?

[2018-04-13 20:46] jwage opened #104 "Allow each project to provide a project.json in the root of the project"
This way each project can provide the data for the website instead of it all being in the projects.yml in doctrine/doctrine-website.  See conversation in #101 for context.

[2018-04-13 20:47] jwage commented on #92
Gotcha, I was trying to find where that rewrite rule is on the old server last night but I could not find it. @beberlei do you know?

[2018-04-13 21:06] jwage commented on #103
I will add it at /atom.xml

[2018-04-13 21:16] #103 closed

[2018-04-13 21:30] jwage commented on #103
Added it in #105 and is available here https://www.doctrine-project.org/atom.xml

[2018-04-13 22:07] jwage commented on #86
Working on this here https://github.com/doctrine/RST/pull/4

[2018-04-14 00:12] stof opened #108 "Building the website does not work on windows"
While a nice-to-have, being unable to build the website on windows might make contributions harder for some people (and yes, I tried contributed from my Windows computer rather than the Ubuntu one I'm using for development most of the time).

Until now I identified these issues:

- sculpin has a bug on windows, breaking the CLI initialization (fixed in https://github.com/dflydev/dflydev-embedded-c

[2018-04-14 00:37] jwage commented on #108
@stof to be honest, I don't understand what the purpose of the embedded composer is. Can we eliminate it all together?

As for the build-website command, I was already thinking about migrating all the filesystem operations to Finder and Filesystem components. I think that would handle making sure it works on both windows and linux right?

[2018-04-14 01:11] stof commented on #108
yeah, probably.

embedded-composer is a dependency of sculpin, for its plugin management used when using Sculpin as a phar with composer-managed plugins (which is a [deprecated way](https://blog.sculpin.io/2016/08/31/deprecating-phar-distribution-and-embedded-composer/) to use Sculpin and not the one you use).
Note that the dev version of Sculpin 3.x s dropping this code entirely. But there is no

[2018-04-14 01:13] jwage commented on #108
Understood. I will work on swapping out the operations with filesystem and then we can test again.

[2018-04-14 01:16] jwage commented on #108
I'm also going to look at making a custom command to do the sculpin build so we can by pass the embedded composer.

[2018-04-14 01:38] jwage opened #110 "Add link to information on how to contribute to website on contribute page"

[2018-04-14 09:45] B-Galati commented on #103
That was quick! Thank you :-)

[2018-04-14 15:57] jwage opened #111 "Add a place that documents and standardizes our policies for releases, BC, depreciation, etc."
- Release cycle
  - Every month we have a bug fix release.
  - Every 6 months we have a minor release.
  - Every 2 years we have a major release.
- Only maintain at most 3 branches at a time per project.
  - 1 branch for current stable release
  - 1 branch for previous stable release
  - 1 branch for master (next)
- All bug fixes should be targeted to the master branch and then cherry-picked to ea

[2018-04-14 19:15] #86 closed

[2018-04-15 17:11] SenseException commented on #20
I'll take this one.

[2018-04-15 19:03] jwage commented on #20
@SenseException awesome!

[2018-04-15 20:02] jwage commented on #14
Fixed in #82

[2018-04-15 20:03] #14 closed

[2018-04-16 04:35] jwage commented on #20
This is live now https://www.doctrine-project.org/projects/doctrine-annotations/en/latest/index.html

[2018-04-16 04:35] #20 closed

[2018-04-16 05:56] #110 closed

[2018-04-16 06:02] #15 closed

[2018-04-16 06:36] jwage opened #113 "Add page/section showing what libs/frameworks use Doctrine"

[2018-04-16 21:56] jwage opened #114 "Enhance community page to show sub communities like Symfony #doctrine slack"
I think other sub communities exist like http://slack.laraveldoctrine.org/

[2018-04-16 22:11] jwage opened #115 "Add current alias to docs"
These links used to exist and are currently 404ing. It should just alias to the current stable version.

[2018-04-16 22:31] #114 closed

[2018-04-17 00:08] jwage commented on #13
@Carusogabriel I can handle this if you like.

[2018-04-17 03:17] #115 closed

[2018-04-17 04:25] #113 closed

[2018-04-17 05:22] jwage opened #119 "Fix sidebar css/js"
Something isn't right about it still. It is quirky and sometimes doesn't scroll the sidebar to the right place.

[2018-04-17 05:23] jwage opened #120 "Allow docs pull requests to trigger staging deploys"
Right now a docs PR won't work with staging deploys.

[2018-04-17 05:28] jwage opened #121 "Add example lexer implementation to the lexer docs"

[2018-04-17 09:14] carusogabriel commented on #13
If you want :)

I have a WIP locally, I can open a PR tonight, I’m having trouble with strict_types

[2018-04-17 10:01] matuskopo commented on #89
Hi,

for example these links:
https://www.doctrine-project.org/api/orm/2.5/class-Doctrine.ORM.EntityRepository.html
https://www.doctrine-project.org/api/collections/1.3/class-Doctrine.Common.Collections.Criteria.html

should redirect here:
https://www.doctrine-project.org/api/orm/2.5/Doctrine/ORM/EntityRepository.html
https://www.doctrine-project.org/api/collections/latest/Doctrine/Common/Collecti

[2018-04-17 13:25] jwage commented on #89
Thanks. So it looks like it is all api docs links. We switched to Sami and they generate a different url structure. I will look in to trying to implement some kind of redirect.

[2018-04-17 13:26] jwage commented on #13
If you wanna push it up I'm happy to take a look and help.

[2018-04-17 22:40] carusogabriel commented on #13
Please take care of this one, I’m stock at work and won’t go back to home tonight, also I’m delaying this one to much already :(

[2018-04-17 22:46] jwage commented on #13
No worries. I'll get it taken care of.

[2018-04-18 00:58] jwage opened #122 "Update Sami phar"

[2018-04-18 01:41] jwage commented on #122
Fixed in e1c8b3879717b5f3ac12dd66e6c534847737d367

[2018-04-18 01:41] #122 closed

[2018-04-18 04:05] jwage opened #125 "Add scrutinizer"
It is going to have much to say.

[2018-04-18 05:50] jwage commented on #78
Fixed in #126

[2018-04-18 05:50] #78 closed

[2018-04-18 07:14] #125 closed

[2018-04-18 10:45] stof commented on #120
Shouldn't we have separate deployments per PR ? Otherwise, the staging site always corresponds to the latest updated PR, which may not be the one you are interested in currently.

[2018-04-18 10:49] stof commented on #12
the hard thing about it is that the website does not depend only on content in this repo, as the docs are in each project. Using the CI of this repo to build the doc would probably imply making an update in this repo any time a doc is updated in the other repos too.
How do you see this working ?

[2018-04-18 11:28] jwage commented on #12
You are right, I don't think it would work for changes to the docs repos. I'm not sure how it could work right now.

[2018-04-18 12:34] stof commented on #120
what is the hosting being used currently ?

[2018-04-18 14:49] jwage commented on #120
Github pages.

https://github.com/doctrine/doctrine-website-build-staging
https://github.com/doctrine/doctrine-website-build-prod

This would have to change for at least staging or we have multiple deploys stored in the repo. Each one in a sub folder.

[2018-04-18 17:12] deltab opened #130 "Cookbook links broken"
Some non-API documentation pages are also missing, e.g.
* https://www.doctrine-project.org/projects/doctrine-orm/en/stable/cookbook/implementing-wakeup-or-clone.html
* http://doctrine-orm.readthedocs.io/en/latest/cookbook/implementing-wakeup-or-clone.html

[2018-04-18 17:16] deltab opened #131 "Backslashes before underscores in headings"
In https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/1.2.x/cookbook/implementing-wakeup-or-clone.html headings have backslashes before underscores, e.g. `Safely implementing \_\_wakeup`.

[2018-04-19 02:37] jwage commented on #131
Looks like it is in the source for some reason https://github.com/doctrine/mongodb-odm/edit/1.2.x/docs/en/cookbook/implementing-wakeup-or-clone.rst

[2018-04-19 02:45] #130 closed

[2018-04-19 02:46] jwage commented on #130
I added `stable` as an alias for the current stable version in #133.

[2018-04-19 03:28] jwage commented on #58
This is done. security@doctrine-project.org is setup and going to @Ocramius

[2018-04-19 03:28] #58 closed

[2018-04-19 03:29] jwage commented on #57
@Ocramius I can setup this page if you like. Can you give me a rough picture of what you were thinking as far as content/language goes?

[2018-04-19 08:03] malarzm commented on #131
Most probably it was escaping, on RTD it's rendered correctly: http://doctrine-orm.readthedocs.io/projects/doctrine-mongodb-odm/en/1.2.x/cookbook/implementing-wakeup-or-clone.html

[2018-04-19 14:11] stof commented on #108
The embedded-composer fix has been merged upstream now.

[2018-04-19 16:12] jwage commented on #108
Thanks. I started to get a windows VM setup so I can test my changes in #124. I will report back once I know more.

[2018-04-19 16:16] Majkl578 commented on #108
@jwage Maybe add AppVeyor builds here?

[2018-04-20 13:14] garak opened #135 "Limit main content width"
Internal pages (e.g. https://www.doctrine-project.org/projects/doctrine-annotations/en/latest/index.html) are composed by a sidebar and a main content area that is currently getting all the remaining space of the viewport (see attached screenshot).
I think that such width should be limited, since on large screen it's hard to read

![doctrine](https://user-images.githubusercontent.com/179866/390527

[2018-04-20 15:45] matthewtrask opened #136 "Add 'contribute on github link' to each page"
Was looking at a page and noticed a few small things that could be fixed, but no quick link to the repo.

Will add this over the weekend I think, should not be terribly difficult.

[2018-04-20 16:57] jwage commented on #135
Thanks. I agree. I need to figure out how to do this. This is pushing up against the boundaries of my css skills but I will try to work on something to make it better :)

[2018-04-20 20:40] #41 closed

[2018-04-20 23:35] jwage commented on #136
I don't see a way to get at the path to the source file that generates the html file in sculpin so I think in each source sculpin file we will just have to add the path to the file. So for example in https://github.com/doctrine/doctrine-website/blob/master/source/community.html you would add a parameter at the top like this:

[code]

And then in the twig templates in `source/_layouts/layout.html`

[2018-04-23 12:57] deltab commented on #130
Thanks! The first link is working now. Would adding `latest` as an alias fix the second link?

[2018-04-23 18:09] jwage commented on #130
No, the 2nd link is on readthedocs.io domain which we have no control over. We are going to be shutting down the readthedocs.io and we should be going through doctrine-project.org going forward.

[2018-04-23 23:22] jwage opened #140 "Add easy google translate button"
We can do this with javascript and make it pretty seamless. We need to make it so the code blocks do not get translated.

[2018-04-24 01:33] jwage commented on #120
@stof My current thought is to enhance the webhook script https://github.com/doctrine/doctrine-website/blob/master/hooks/deploy.php to store a JSON document for the last webhook received. I think it would just store the project and the sha. This script could be refactored and cleaned up in general too. It should just be using some classes in `app/src` instead of a standalone script.

Example JSON:

[2018-04-24 03:36] jwage opened #142 "h1 anchor should just keep you at the top of the screen"

[2018-04-24 03:37] #121 closed

[2018-04-24 03:38] #140 closed

[2018-04-24 04:00] jwage opened #143 "Port common docs to specific repos"
https://www.doctrine-project.org/projects/doctrine-common/en/latest/index.html

Port the docs from the common project to their specific repos (annotations, cache, etc.)

Once this is done, remove the common project from the site.

[2018-04-24 04:01] jwage opened #144 "Add doctrine/coding-standard to the website as a project"
Add https://github.com/doctrine/coding-standard to the website as a project.

- add docs/en folder to the repository and write basic docs

[2018-04-25 05:25] jwage commented on #89
API docs now link to github source code as of #145

[2018-04-25 05:30] jwage commented on #89
I am unfortunately not going to be able to maintain the same URLs for the API docs. Since we switched to Sami and they don't support customizing the URLs, it is not easily possible. I apologize for the inconvenience.

[2018-04-25 05:30] #89 closed

[2018-04-26 15:25] jwage opened #147 "Create concept of docs team for /team page"
We are starting to formalize a docs team and we should surface this information on the website.

[2018-04-27 00:37] Majkl578 opened #151 "Missing integrity + crossorigin for some subresources"
There are some CSS/JS linked with integrity and crossorigin attributes already, but some are missing them. :|

https://caniuse.com/#feat=subresource-integrity

[2018-04-27 02:47] #147 closed

[2018-04-27 03:31] jwage commented on #151
I can fix this. How can I generate the integrity value for a file in PHP? Can I do it natively or pipe to command line?

[2018-04-27 03:45] jwage opened #152 "Document how to do releases"
- how to format tags
- semver info
- how to generate change log giving thanks to each contributor
- create tooling to automate pieces of the process? Do we need anything?

[2018-04-27 03:51] jwage opened #153 "Gather language translation stats"

[2018-04-27 14:15] jwage opened #154 "Add sentry to the site"
We need visibility in to javascript errors.

[2018-04-27 18:14] #154 closed

[2018-04-27 18:28] #22 closed

[2018-04-27 19:47] #21 closed

[2018-04-27 19:48] #143 closed

[2018-04-27 19:48] jwage commented on #143
All projects have docs now.

[2018-04-27 19:55] jwage opened #157 "Port doctrine/common annotations docs to doctrine/annotations repo"
We have some more indepth documentation for annotations here https://github.com/doctrine/common/blob/master/docs/en/reference/annotations.rst

We need to port this to doctrine/annotations repository

[2018-04-27 19:58] jwage opened #158 "Update team_members.yml"
Right now each project doesn't have the complete list of team members that work on that project.

[2018-04-27 21:48] Majkl578 opened #160 "Sort team members alphabetically by name"
https://www.doctrine-project.org/team/

Should be sorted alphabetically by name, it's sorted by GH username now so it looks _random_.

[2018-04-27 22:04] jwage opened #161 "Add framework integrations to the website"
- zend
- symfony
- laravel
- etc

[2018-04-27 22:56] #160 closed

[2018-04-29 16:21] SenseException opened #163 "Move doctrine/common caching docs to doctrine/cache repository"
A more detailed documentation for caching can be found at https://github.com/doctrine/common/blob/master/docs/en/reference/caching.rst.

This needs to be in doctrine/cache repository.

[2018-04-29 20:49] SenseException commented on #157
I've created 2 PRs about moving the annotations documentation.

[2018-04-30 00:28] #163 closed

[2018-04-30 13:27] garak opened #164 "Broken link"
Just discovered on [SO](https://stackoverflow.com/questions/5988636/doctrine-2-how-to-use-discriminator-column-in-where-clause/5992273#5992273) a broken link. I think a redirect is missing.

**old link**: https://www.doctrine-project.org/docs/orm/2.0/en/reference/dql-doctrine-query-language.html
**new link**: https://www.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-q

[2018-04-30 13:30] jwage commented on #163
Yes

[2018-05-01 23:08] Majkl578 opened #165 "Let's Encrypt certificate instead of COMODO CA with random subjectAltNames"
Current certificate is issued by COMODO CA (through Cloudflare) and has tens of random unrelated alternative names.

It's sad we are using such thing when Let's Encrypt exists. :(

[code]

https://www.ssllabs.com/ssltest/analyze.html?d=www.doctrine%2dproject.org&s=2400%3acb00%3a2048%3a1%3a0%3a0%3a6812%3a292d&latest

[2018-05-02 17:11] Majkl578 commented on #151
Basically:
[code]
Even easier for local CSS.
Just make sure (in case of CDNs) you use versioned URLs otherwise if the script changes, JS breaks (that's the point of the integrity check though).

Either way, external links should imho be done manually, otherwise you can serve already malicious JS/CSS.

[2018-05-02 17:13] Majkl578 commented on #38
As long as previously HTTP links work on HTTPS now, there should be no issue and no need for extra redirects.

[2018-05-04 09:20] SenseException opened #166 "Dead links found on website"
By using wget as a spider, I checked the website for 404 / errors and retrieved the following list:

[wget.log.gz](https://github.com/doctrine/doctrine-website/files/1973796/wget.log.gz)

At the end of the list are 305 broken links listed. Most of them are from templates using a placeholder {{url}}, which may not be usable by wget, but this needs to be confirmed first.

The used wget command to cr

[2018-05-19 15:36] d-ph opened #169 "Bidirectional one-to-one association mapping doesn't say that a unique key is going to be created."
Hello,

The `Generated MySQL Schema` section of [One-To-One, Bidirectional](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/association-mapping.html#one-to-one-bidirectional) doesn't say that a unique key will be created on the owning side's column. This is inconsistent with the docs for [One-To-One, Unidirectional](https://www.doctrine-project.org/projects/doctrine-orm/en/

[2018-05-20 14:36] SenseException commented on #169
Hi, when I create a bi-directional

[2018-05-20 14:41] SenseException commented on #169
Hi, when I create a bidirectional relation between entities, I don't get a unique key. It's behaves like in the documention.

Which database did you use for getting a unique key? And which ORM version?

[2018-05-21 20:47] d-ph commented on #169
Hi,

I use Postgres 9.6.8 and `doctrine/orm` 2.6.1 (I've just upgraded to latest stable to see whether it changes anything).

I essentially took the Consumer and Cart example:
[code]
[code]
And run `./bin/console doctrine:schema:update --dump-sql`, which produces:
[code]
If you ask me, it makes sense to have the UNIQUE key on the `cart(customer_id)`, since this is a one-to-one relation, so no othe

[2018-05-21 22:58] Ocramius commented on #169
Yes, it is correct that the owning side of the association has a `UNIQUE` constraint. What action is to be taken for this issue?

[2018-05-22 11:13] SenseException commented on #169
I suggest two actions:

* Update ORM repository with a PR to have an unique constraint for every supported database (if unique is supported) on One-To-One bidirectional
* Replace the resulting SQL output in the documentation with a description and/or diagram of the resulting changes. It looks like that the documentation currently shows MySQL queries as output.

[2018-06-09 14:02] jwage opened #173 "Add next/previous chapter buttons to the docs"

[2018-06-16 23:41] jwage opened #178 "Implement ASCII console output rendering"
cc @Majkl578

[2018-06-17 15:58] jwage opened #179 "Run phpcs against codebase"
I never followed up and did this. Run phpcs and phpstan level 7 against codebase. Fix all the errors and add checks to travis build.

[2018-06-17 17:33] SenseException commented on #179
How to handle smells of inherited methods, that has to be compatible with the parent class? Disabling for the affected line?

[2018-06-17 17:54] Majkl578 commented on #179
@SenseException By using `@phpcsSuppress`, like here:
https://github.com/slevomat/coding-standard/blob/d43b9a627cdcb7ce837a1d85a79b52645cdf44bc/SlevomatCodingStandard/Sniffs/PHP/TypeCastSniff.php#L37

[2018-06-17 18:08] SenseException commented on #179
My question was about if we should do this.
In https://github.com/doctrine/doctrine-website/pull/177#discussion_r195926852 I asked about adapting a forked repo. I'm not sure if this will only be needed in a *gregwar/rst* fork. If there's a third party library which is not in our hand, we still have the option of disabling affected smells or lines. I want to prevent such suppressing annotations as

[2018-06-17 18:58] jwage commented on #179
I will hopefully be able to fixup the RST parser pretty quickly so it won't be an issue for long.

[2018-06-20 16:50] deltab opened #180 "Broken link (Collections API version 1.3)"
https://www.doctrine-project.org/api/collections/1.3/class-Doctrine.Common.Collections.ArrayCollection.html

[2018-06-20 16:52] Majkl578 commented on #180
Where did you find this broken link?

[2018-06-20 18:49] SenseException commented on #180
We should handle and collect dead links in #166.

[2018-06-22 08:38] #135 closed

[2018-07-04 06:55] vichyssoise opened #183 "Typo"
on https://www.doctrine-project.org/projects/doctrine-orm/en/latest/tutorials/getting-started.html

[2018-07-09 17:37] Majkl578 opened #184 "Phase out doctrine-*.readthedocs.io"
* https://doctrine-orm.readthedocs.io/en/latest/
* https://doctrine-dbal.readthedocs.io/en/latest/
* https://doctrine-common.readthedocs.io/en/latest/

These legacy docs need to be dropped, it's currently only a source of confusion as the content is outdated and not versioned.

Proposal: Redirect the main chapters to their counteparts on our new website, redirect the remainder to the project homep

[2018-07-09 17:45] kiler129 opened #185 "Performance Recommendation Contains Dead Link"
The page at https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/improving-performance.html links to itself under "See Doctrine Query Language chapter". It should link to https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/dql-doctrine-query-language.html#temporarily-change-fetch-mode-in-dql instead.

 //I will add PR later today.

[2018-07-25 18:21] jwage commented on #183
Looks like this is already fixed now.

[2018-07-25 18:21] #183 closed

[2018-07-30 08:44] ondrejmirtes opened #190 "Search weirdly broken (at least in Safari)"
Hi,
I'm trying to search on the Doctrine website (https://www.doctrine-project.org) for string `matching`. It behaves in a weird way:

1) I can't scroll the results. In scrolls the background instead.
2) When I defocus the input, the search results disappear.

I have Safari 11.1.2 on macOS 10.13.6.

[2018-07-30 08:45] ondrejmirtes opened #191 "Wrong link target to expressions page"
Hi,
I'm here https://www.doctrine-project.org/projects/doctrine-collections/en/latest/index.html and I'm trying to click on `You can read more about expressions >here<.` below the `matching` method description. Nothing happens.

I'm on Safari 11.1.2 on macOS 10.13.6.

[2018-07-30 08:46] Ocramius commented on #191
Can this be reproduced in a "contemporary" browser? :D

[2018-07-30 08:58] ondrejmirtes commented on #191
Yeah, it does the same thing in Chrome :P

[2018-07-30 08:58] ondrejmirtes commented on #190
BTW it does the same thing in Chrome.

[2018-07-30 09:05] Ocramius commented on #191
Thanks :+1:

[2018-08-02 10:50] matt-usurp opened #192 "Merged Column Rendering"
Unsure if this is a refactor that needs to happen on the syntax used in the documentation file or a change that needs to happen against the website rendering.

It looks like the rendering of merged columns isn't working as expected. For example of the DBAL documentation under the types reference the mapping table shows a load of `-+` characters. Viewing the RST directly in Github does render merge

[2018-08-02 13:47] SenseException commented on #192
Yes, this is an already know issue (#47). Still, thank you for taking your time to report this.

I'm closing this issue because it is a duplicate of #47

[2018-08-02 13:47] #192 closed

[2018-08-03 03:30] j13k opened #193 "CouchDB client project is missing from project page"
There isn't much activity on the Doctrine CouchDB _Client_ project (https://github.com/doctrine/couchdb-client), however it would be good to provide a reference to it on the website [Projects](https://www.doctrine-project.org/projects.html) page.

[2018-08-03 07:17] SenseException commented on #193
A simple documentation for starters in the doctrine/couchdb-client repository would be a nice to have. We could add this into the website and extend it later.

Would you like to create a PR in doctrine/couchdb-client? It needs to be written in reStructuredText and are put into /docs/en directory for english version.

You can take a look how it's done in dbal:
https://github.com/doctrine/dbal/tree/

[2018-08-03 20:17] SenseException commented on #191
Because the part of the `matching()` method had to be fixed anyway, I also did a fix for the link in PR doctrine/collections#158.

[2018-08-04 09:35] SenseException commented on #191
The changes got merged and the link now references to the Expressions page. Thank you for reporting this.

[2018-08-04 09:35] #191 closed

[2018-08-04 18:41] Majkl578 opened #196 "Make URL configurable in local.yml"
There is no way to configure URL for dev environment, I always end up with links to `http://lcl.doctrine-project.org:8080`. I want to be able to specify my own URL, i.e. `https://doctrine.local`.

[2018-08-04 18:48] Majkl578 opened #197 "Show warning badge when browsing outdated docs"
[Dismissible alert](https://getbootstrap.com/docs/4.1/components/alerts/#dismissing) would probably be enough.

[2018-08-04 19:04] SenseException commented on #197
Everything that's not the latest version? Or do we have a common Doctrine rule when a version is "outdated"?

[2018-08-04 19:09] Majkl578 commented on #197
Those with `maintained: false` in projects.yaml. PR incoming. :)

[2018-08-04 20:58] #197 closed

[2018-08-07 08:41] SenseException commented on #190
Having the result of the search as sticky as the navigation makes the search hard to use, even on mobiles. We could move the result container out of the `nav` tag as a quick win, but I'm not sure if this would still be a good markup.

[2018-08-08 21:11] ostrolucky commented on #111
Target branch for bug fixes contradicts https://github.com/doctrine/doctrine2/blob/master/CONTRIBUTING.md Also rebase strategy clearly in use is not mentioned.

@Majkl578 @guilhermeblanco can you correct this please?

[2018-08-08 22:04] Majkl578 commented on #111
@ostrolucky That's intentional (see https://github.com/doctrine/doctrine2/pull/7107), ORM has non-standard workflow right now by design.

[2018-08-10 13:58] jwage opened #200 "Deprecation summary"
The point of this GitHub issue is to discuss in a more organized way the different ways we can handle deprecations in Doctrine.

The policy of Doctrine for a very long time has been to use `@deprecated` and only very recently did we start to introduce usages of `@trigger_error` which has led to this discussion of how they should be used and in which use cases.

## Using `trigger_error()` with `@`

[2018-08-10 14:07] Ocramius commented on #200
Overall, I think `@deprecated` checking is easily detected at build/installation time by analyzing any first-level access to `@deprecated` endpoints.

For example, if a third party dependency of the ORM uses a deprecated API in its internals, we are out of control when it comes to fixing that deprecation usage, and the author of that library has no control or time to fix it quickly: this makes dep

[2018-08-10 16:12] lcobucci commented on #200
After chatting with @ondrejmirtes, we've agreed that the best solution would be proving a better integration in `phpstan/phpstan-doctrine` with the `EntityManager` for people using the ORM and the `DocumentManager` for people using the ODM. This will allow us to provide a better integration between PHPstan and the ORM/ODM, like knowing the type of the columns and what class is used as the reposito

[2018-08-10 18:44] #190 closed

[2018-08-10 18:45] jwage commented on #190
Thanks to @SenseException for making a change that improves this. It is still not "great", but it is better.

[2018-08-11 12:29] ostrolucky commented on #200
I want to ask what problem are we trying to solve here? Then it will be more clear what needs to be changed in order to solve it. This is very important.

___

Have you read following?

We can't drop it completely, unless we solve such deprecations by nuking whole class/method and replacing it with new one, which is not very realistic. [Some](https://github.com/doctrine/dbal/blob/66daecd0084118ec0

[2018-08-11 12:30] Ocramius commented on #200
The idea would to be removing `trigger_error()` completely, and use only `@deprecated`.

[2018-08-11 14:15] jwage commented on #200
@ostrolucky We are trying to create and support a designed solution for handling deprecations that does not rely on the runtime of your test suite, clicking around in your application and does not depend on the use of `@`.

Right now, in a majority of cases, `@deprecated` works. We will try to do it this way and avoid conditional deprecations, but if we cannot find a way or it is absolutely too di

[2018-08-11 14:46] ostrolucky commented on #200
Having both `@deprecated` and `trigger_error` has advantages of both static analysis and runtime handler. This is rationally the way to go if you just want widest coverage of deprecation detection. And it's already done e.g in DoctrineBundle. Why is goal of this issue dropping runtime based deprecation mechanism, instead of expanding ways how users can detect deprecations? Furthermore, I don't see

[2018-08-11 15:31] jwage commented on #200
@ostrolucky The language I used in my comment was the following:

We would still use `trigger_error()` in the cases where we can't figure out how to make `@deprecated` work by refactoring or it is too difficult to do.

[2018-08-12 14:36] rzilin commented on #200
using `trigger_error` does not make sense deprecation is not error and force people to configure php.ini to hide does not have reasonable point. Someone decided to use and now everyone should change apps configuration just because someone things it is good thing.

I would say who supports trigger_error  they should first ask php team to implement to disable it by default so that will avoid causing

[2018-08-13 08:09] nicolas-grekas commented on #200
Hello, it would be great to move this discussion to the FIG.
We have plenty of experience on the topic with Symfony, and I'm a bit disappointed all the work that happened there already did percolate here. The case is strong IMHO for keeping the silenced deprecations notices at runtime. Completing it with static analysis would be awesome, that's always been a missing part.
But discussing this in ye

[2018-08-13 13:46] lcobucci commented on #200
@jwage another example on why conditional deprecations are just weird: https://github.com/doctrine/doctrine2/pull/6728#pullrequestreview-145655715

[2018-08-13 17:38] Majkl578 commented on #200
This is obviously not objective - phpunit-bridge is installed by default in all Symfony apps (even with Flex and symfony/website-skeleton) while phpstan-deprecations-rules is only ~one month old and not a dependency of a stack like Symfony.

[2018-08-14 08:41] Ocramius commented on #200
As much as I'd like a standardised way to do things, we first need one that works for us (@doctrine/doctrinecore, not Symfony nor anybody else), and that we can then propose as standard **AFTER** having it battle-tested.

The current `trigger_error()` and `@trigger_error()` is not working, hence we are discussing how to move forward.

Responding to @alcaeus'  https://github.com/doctrine/doctrine-w

[2018-08-14 08:46] ondrejmirtes commented on #200
Nice summary!

You can definitely configure PHPStan to just run the deprecation rules 😊

[2018-08-14 08:49] ondrejmirtes commented on #200
We discussed with @lcobucci that PHPStan could read entity metadata to also discover these deprecations although that would require a new set of rules. Would be a nice part of `phpstan-doctrine` though.

[2018-08-15 12:03] simPod opened #202 "Broken syntax highlighting"
Hey, just noticed syntax highlighting for website is not working

![image](https://user-images.githubusercontent.com/327717/44147337-fd093104-a093-11e8-82aa-915762bdbdef.png)

https://www.doctrine-project.org/projects/doctrine-dbal/en/2.8/reference/transactions.html

[2018-08-15 12:49] Majkl578 commented on #202
Not really broken: the code block is not marked as a PHP block so it's just a generic block of code.

[2018-08-15 12:56] simPod commented on #202
My laptop battery have just been depleted so I haven't really inspected it much. It might definitely be the case ;)

[2018-08-25 16:05] jwage commented on #196
This is possible now in the local.yml after https://github.com/doctrine/doctrine-website/pull/207

Just set `doctrine.website.url`

[2018-08-25 16:05] #196 closed

[2018-08-25 16:08] jwage commented on #179
https://github.com/doctrine/rst-parser exists now and it has Doctrine CS 4.0 applied and PHPStan Level 7. I updated doctrine website source and we now have CS and phpstan level 7 here too.

[2018-08-25 16:08] #179 closed

[2018-08-25 16:09] jwage commented on #144
This was completed.

[2018-08-25 16:09] #144 closed

[2018-08-25 16:10] #119 closed

[2018-08-30 18:03] #202 closed

[2018-08-30 19:50] jwage commented on #185
Thanks. Closing this issue here. You can open a new issue or pull request on https://github.com/doctrine/doctrine2 where that code exists in https://github.com/doctrine/doctrine2/tree/master/docs

[2018-08-30 19:50] #185 closed

[2018-08-30 20:06] jwage commented on #184
These old doc links have been shutdown.

[2018-08-30 20:06] #184 closed

[2018-08-30 22:36] #97 closed

[2018-08-30 22:36] #40 closed

[2018-08-30 22:36] #12 closed

[2018-08-31 08:34] #158 closed

[2018-08-31 09:44] #136 closed

[2018-08-31 09:45] #104 closed

[2018-09-01 19:59] #151 closed

[2018-09-03 11:13] samuelwilliams opened #229 "The Doctrine logo is far too big"
The Doctrine logo is far too big, it currently takes up about half the view (see below). I suggest reducing the size of the logo to about 60px for all pages other than the homepage.

![untitled](https://user-images.githubusercontent.com/806430/44983803-96326480-af8b-11e8-88c4-71caaf01990a.png)

[2018-09-03 11:16] Majkl578 commented on #229
This is because CSS is not loaded properly (ctrl+f5 will fix it), but I have no idea why it happens, probably old version cached by your browser.
@jwage Possibly related to the disabled minification + added integrity checks.

[2018-09-03 13:12] jwage commented on #229
It could be. I will deploy a new version that busts the cache.

[2018-09-10 12:38] jwage commented on #229
This should be fixed.

[2018-09-10 12:38] #229 closed

[2018-09-10 20:55] #200 closed

[2018-09-10 20:55] #180 closed

[2018-09-10 20:58] jwage commented on #164
Unfortunately we do not have an easy way to fix this. The old link is a really old link that used to redirect to readthedocs, and we have no way to setup redirects on readthedocs.

[2018-09-10 20:58] #164 closed

[2018-09-10 20:58] jwage commented on #152
@Ocramius I think you said you were working on this. Anything I can do to help?

[2018-09-10 20:59] jwage commented on #111
I setup a new section on the website where we can start to publish these policies https://www.doctrine-project.org/policies.html

[2018-09-10 20:59] #111 closed

[2018-09-10 20:59] #99 closed

[2018-09-11 07:53] Ocramius commented on #152
I just need to pick it up again - being extremely lazy these days. Added it
to my calendar to do something about it before EOD today.

On Mon, 10 Sep 2018, 22:59 Jonathan H. Wage, <notifications@github.com>
wrote:

[2018-09-11 18:04] jwage opened #238 "Add gpg key to security policy page"
See discussion here https://github.com/doctrine/doctrine-website/pull/236#discussion_r216576764

cc @Ocramius

[2018-09-11 18:04] #57 closed

[2018-09-11 21:13] SenseException commented on #166
Some external links used in the documentation aren't 404, but lead to deprecated or outdated content. These links aren't listed in the url-list.

[2018-09-11 21:43] SenseException commented on #96
With the usage of doctrine/rst-parser #233, unknown references result in an unknown anchor now. How should the reporting look like? Should there be an output in the console?

[2018-09-11 22:47] jwage commented on #96
It silently ignores the bad reference right now and outputs the unknown reference link in the HTML. @weaverryan and I have talked about adding a feature to doctrine/rst-parser that would let you throw an exception if a bad reference is encountered.

[2018-09-12 07:58] SenseException commented on #96
That would be the (unresolved) case. So the plan is to make the build of the docs fail on a unresolvable reference?

[2018-09-12 13:30] jwage commented on #96
Yes. That is my current thought.

[2018-09-13 03:27] #193 closed

[2018-09-13 09:12] vulkodava opened #244 "Issue with ArrayType (serialize)"
Hello,

I am using Doctrine ORM version ^2.5.6. It has some potential security issue. If you are able to as an array that would result in broken serialized string Doctrine does not check if the result string is a valid serialized array before storing it to the database. The next time you retrieve this value Doctrine throws a ConversionException that if not caught causes Denial of service.
Would it

[2018-09-13 11:58] vulkodava commented on #244
Moved to dbal project (https://github.com/doctrine/dbal/issues/3289)

[2018-09-13 11:58] #244 closed

[2018-09-13 12:18] Ocramius commented on #244
Objects that are in memory and are to be handled by the ORM are under the direct responsibility of the developer using the ORM: the ORM limits itself to converting and saving whatever data it is given, no matter how malicious it may be. Having invalid data (according to type conversion) in the storage is also up to the user to fix, as the ORM works under the assumption of symmetricity between RDBM

[2018-09-13 14:48] jwage commented on #193
I added doctrine/couchdb-client to the website as an inactive project. I only converted the README for the docs so if someone else wants to jump in and help revive this project, feel free. Thanks!

[2018-09-23 04:53] Majkl578 commented on #47
Footnotes are also broken, see: https://github.com/doctrine/doctrine2/issues/7396.

[2018-09-25 14:10] deltab commented on #166
What about broken links found elsewhere? e.g. https://doctrine-orm.readthedocs.io/en/latest/reference/annotations-reference.html from search engine results.

[2018-09-25 18:39] SenseException commented on #166
https://doctrine-orm.readthedocs.io isn't in use anymore. Please use https://www.doctrine-project.org for all the Doctrine projects.

[2018-10-02 07:16] jwage opened #253 "Cleanup style.css"
https://github.com/doctrine/doctrine-website/blob/master/source/css/style.css

This file is a disaster. It could be cleaned up. Maybe adopt sass and/or tailwindcss.

[2018-10-02 07:31] lex111 commented on #173
Hi @jwage

Can I have more details to implement this?

[2018-10-02 07:33] BhautikChudasama commented on #253
Do you need to convert it to scss?

[2018-10-02 07:35] jwage commented on #173
Hi @lex111, the only way I've thought to be able to do it is with javascript on the client side by looking at the open chapter in the sidebar and then get the next/prev one in the html dom to generate the next/prev links.

<img width="766" alt="screen shot 2018-10-02 at 12 33 13 am" src="https://user-images.githubusercontent.com/97422/46334995-f17f6300-c5da-11e8-9757-5bd63af604d6.png">

The more "

[2018-10-02 07:37] jwage commented on #253
Yes, that could be a good first step. We'd need to create a build process too.

[2018-10-21 22:37] Majkl578 commented on #38
bump, still no HSTS

[2018-10-21 22:37] Majkl578 commented on #38
... and still no preloading

[2018-10-21 22:44] Majkl578 commented on #165
Any update on this one? :/ I'm not happy seeing COMODO certificate with 40 random alternative names on a website of an OSS project. Let's Encrypt is absolutely free, it's the best suited CA for OSS project.

[2018-10-22 12:44] jwage commented on #38
I think I gave you access to cloudflare. Do you want to take it on?

[2018-10-22 12:46] jwage commented on #165
I'm all for it. Let me know how you want to set it up.

[2018-10-22 12:54] jwage commented on #38
👍this can be done in cloudflare I'm pretty sure. Would love to see it. Let me know if you need help getting back in to our cloudflare account.

[2018-10-22 18:06] mmollick commented on #253
Looks like the previous PR's stalled out and never implemented the build step. I'd be happy to implement a build step and pre-commit linting for the styles.
Are there any preferences on the tools used to accomplish this (e.g. Webpack vs Gulp)?
While were at should we also add a build step to concat & minify the Javascript as well (Webpack makes this simple)?

[2018-10-22 19:20] SenseException commented on #253
My personal choice would be Webpack. This might be useful for changes of the website's Javascript and JS libraries for bundling.

[2018-10-23 09:03] garak opened #258 "Live search is not visible"
It looks like the live search on Doctrine docs is visible only if you don't scroll page.
Example: you open a page, you search in the top bar: it works, you see results.
Negative example: you open a page, you scroll down, then you search in the top bar. It does not work as intended, since results are not placed in absolute way, so you can't see them unless you scroll back to top

[2018-10-23 12:54] SenseException commented on #258
Yes, you have to scroll up to see the search results. This is currently a workaround to make the search more usable for bigger results, that is cut by some browsers where the bottom results can't be reached by scrolling anymore. The same behavior also made mobiles less usable.

As you correctly state, the search still needs to be improved in usability and result relevance.

[2018-10-31 20:16] shkkmo opened #265 "Documentation Links Broken"
Many of the links throughout the web to doctrine's documentation have all been broken. This includes a large number of links from blogs and from stackoverflow.

Example:
http://docs.doctrine-project.org/en/latest/reference/advanced-configuration.html

The issue appears to be a re-organization that moved that resource to:

http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/a

[2018-11-04 20:15] Ocramius commented on #152
FWIW, the WIP PR for this is at https://github.com/doctrine/doctrine-website/pull/262

Closing here, let's continue there.

[2018-11-04 20:15] #152 closed

[2018-11-09 09:46] afoeder opened #268 "Mapping Matrix rendering is broken"
The [Mapping Matrix](https://www.doctrine-project.org/projects/doctrine-dbal/en/2.8/reference/types.html#mapping-matrix) currently looks like this:

![image](https://user-images.githubusercontent.com/1125168/48255320-a98b0180-e40c-11e8-9a86-3e356b1b945f.png)

I can try to look at it and follow-up with a PR if desired.

[2018-11-09 10:13] SenseException commented on #268
Thank you for taking your time to report this issue :+1:. We are aware of this and there is already an issue in doctrine/rst-parser#38 in the RST repository. It will be handled there.

[2018-11-09 10:13] #268 closed

[2018-12-02 00:40] #253 closed

[2018-12-02 00:40] #65 closed

[2018-12-02 00:45] jwage opened #272 "Migrate bootstrap to tailwind"

[2019-01-05 00:47] vladyslavstartsev commented on #166
I've found that there are a lot of broken links due to jira

something like this
http://www.doctrine-project.org/jira/browse/DCOM-129

what I can try to do is to find a link like the above one and change it to https://github.com/doctrine/common/issues/428

is that a good idea? should I try?

[2019-01-05 00:59] jwage commented on #166
Yes, we would accept PRs to docs to update links :+1:

[2019-01-05 01:44] SenseException commented on #166
@vladyslavstartsev The PR doctrine/orm#7385 covers fixes for links of doctrine/orm, but I haven't checked the other projects yet.

[2019-01-10 13:02] DiegoArrieta commented on #272
hey guys!
I am working on the same, if I can help here I am.

[2019-01-10 14:55] jwage opened #282 "Add a page to the website for sponsorship/support"
We have several ways the project is supported financially now, we should create a clear and concise page on the website where all of this information is consolidated and presented to the end user.

Here are the ways in which the project is supported today:

- Carbon Ads
- Patreon
- Paypal
- Corporate Sponsorships
- Tidelift

[2019-01-10 18:04] SenseException commented on #272
Anything we need to know about tailwindcss, that will be an advantage for the further website development? Maybe because of a redesign purpose?

[2019-01-10 19:15] jwage commented on #272
I have been using utility based css frameworks and I really like tailwindcss. Bootstrap has some utilities but not many. It seems this is a general trend for css frameworks to be going utility based. I want to pair moving to tailwindcss with a new design but we need to find someone who can do UX/graphic design to work on some mockups. Then once that is done we can convert it to html/css.

[2019-01-17 19:36] #282 closed

[2019-02-09 16:46] Ocramius commented on #166
Is there a grep syntax that worked for you here? Error messages seem to be on a new line each...

[2019-02-10 12:44] agilare commented on #103
My feed reader (Thunderbird 60) cannot read https://www.doctrine-project.org/atom.xml because there is some errors :

[code]

https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.doctrine-project.org%2Fatom.xml

[2019-02-10 14:27] SenseException commented on #166
No, it was just the command above. After some links were fixed since the creation of the log, we can consider another scan with a different tool.

[2019-02-17 11:58] vladyslavstartsev commented on #166
I used level 20
`wget --spider -r -nd -nv -l 20 -w 2 -o wget.log https://www.doctrine-project.org`
[wgetlog.tar.gz](https://github.com/doctrine/doctrine-website/files/2872915/wgetlog.tar.gz)

[2019-03-24 19:14] shkkmo commented on #265
I see this was never fixed. Due to issues like this, I have implemented a new policy of always archiving referenced documentation pages using web.archive.org/save/ and linking to the archived page.

However, this does not fix the numerous links that have been broken from sites like stackoverflow.

I see you moved the documentation yet again, now to a new sub domain. You do have redirects working t

[2019-03-24 19:23] shkkmo commented on #265
Perhaps the scale of this issue is not understood? Just looking at the top doctrine tagged questions / answers on StackOverflow, they almost all have links to your documentation that have been broken. This seems like a rather significant issue to me.

https://stackoverflow.com/a/2062636
https://stackoverflow.com/questions/3376881/default-value-in-doctrine
https://stackoverflow.com/questions/206247

[2019-03-24 19:30] Ocramius commented on #265
I can understand the Doctrine 2 issues, but the 1.2 docs surely aren't relevant anymore.

Anyway, having a report of links that got broken by the move by this (by generating the old website locally)  would be more helpful. The understanding of why this is problematic is very clear.

Anyway:

We aren't paid to work on this: step up and jump in on this work, if it is something you care about.

[2019-03-24 19:32] Ocramius commented on #265
As for the implementation, `<meta http-equiv="refresh" content="0; url=target-uri-here" />` plus `<link rel="canonical" ...` would be sufficient.

[2019-03-28 02:39] Majkl578 opened #288 "Sami is unmaintained - what to use instead?"
Sami has been abandoned and is currently unmaintained: https://github.com/FriendsOfPHP/Sami/commit/394f3e156e814d362b88fa2f682fb8f5c273c970

We should look for a replacement or abandon hosting API docs entirely.

[2019-03-28 07:40] malarzm commented on #288
I'd be ok with dropping API docs entirely, can't really recall when was last time I've preferred them over reading docs in the source code

[2019-03-28 12:15] jwage commented on #288
I was planning on dropping api docs.

[2019-03-30 10:56] nicam opened #289 "Contributor and Maintainer Count is 0"
Hello there,

I just noticed that the contributer and maintainer counts are 0 on the Website. See the screenshots:

![Screenshot 2019-03-30 09 50 52](https://user-images.githubusercontent.com/182071/55275181-bd170600-52e2-11e9-9d7a-ea5caf651aea.png)
![Screenshot 2019-03-30 11 55 57](https://user-images.githubusercontent.com/182071/55275189-cacc8b80-52e2-11e9-8114-1f02629a255f.png)

cheers,

Pascal

[2019-03-30 14:46] jwage commented on #289
Thanks. We have some issue where the api calls to github don't work and I haven't been able to reproduce it.

[2019-04-10 20:50] #288 closed

[2019-05-10 14:09] jwage commented on #289
This is fixed now.

[2019-05-10 14:09] #289 closed

[2019-05-12 15:31] jwage opened #307 "Audit all seo meta tags"
They are inconsistent and not complete on some pages. This data is also what shows for a url when you tweet a url or embed a link in slack, etc. So it is important that it is complete.

[2019-05-13 09:57] SenseException commented on #307
Some `og:*` and maybe `twitter:*` meta tags should be added too. Should some of the documentation content become part of the description of each documentation site?

[2019-05-13 11:22] jwage commented on #307
We have the og and twitter tagshttps://github.com/doctrine/doctrine-website/blob/master/templates/layouts/layout.html.twig#L57

Fb and Twitter use the meta tags too so by cleaning up that it will improve there too.

[2019-05-29 10:32] SenseException opened #312 "Incorrect links in search results"
Some links in the search results of the Doctrine Website search bar contain some results with wrong links/anchor-names (example by @greg0ire).

The search result link contains "quot" in the anchor-name inside the link:

![screen-search](https://user-images.githubusercontent.com/859964/58550227-98b9a600-820d-11e9-9797-965d0f1b3925.png)

The actual anchor-name doesn't have those:

![screen-site](htt

[2019-06-06 16:16] #307 closed

[2019-09-27 08:27] rbairwell opened #324 "Link to Slack invite is outdated"
On https://www.doctrine-project.org/community/  under the heading of "Slack" it links to https://www.doctrine-project.org/slack which then redirects to https://doctrine.slack.com/join/shared_invite/enQtNjE5NDU1MTIyMzU5LTY2Mjk5NDlhODEzZDRhYmY5ZjNjODRhNTdiOGI1ZGMzNDQwOTk0YzA1OGNkOWRlZjIyZjdkYTNkYmQ4N2RmMTY - however  Slack reports "This invite link is no longer active.
Please check with the person w

[2019-09-29 19:28] SenseException commented on #324
Seems like https://www.doctrine-project.org/slack was already fixed or it was just a small inconvenience. Thank you for reporting it. :+1:

[2019-09-29 19:28] #324 closed

[2019-10-09 11:38] malarzm opened #327 "Unreadable code colour on green background"
The note under first code example of https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/working-with-associations.html#filtering-collections has green background and unreadable pink-ish `Group#getTodaysBirthdayUsers()` on it - I think the code text should have different color as it's barely readable (on my screen at list)

[2019-10-31 12:47] etshy opened #328 "Doctrine Mongo ODM search not working anymore"
I noticed today the search engine doesn't work anymore when you select the versions 2.0 and 1.3.2 for the bundle (results are always empty)
Surprisingly it works when you select the version 2.1 (upcoming). i didn't try with unmaintained versions.

Some screenshot to show the problem

V2.1
![](https://i.imgur.com/qHR3MRG.png)

V2.0
![](https://i.imgur.com/zv2pNoZ.png)

[2019-11-13 20:45] SenseException commented on #328
I can't reproduce the missing results when I locally build my search results for ODM, which makes debugging harder. Other project's search results are also affected.

[2019-12-18 09:38] cybernet commented on #169
still open :)

[2019-12-18 22:52] SenseException commented on #169
@cybernet You're welcome to create a PR if you like. :-)

[2020-01-22 14:43] vladyslavstartsev opened #334 "caution is not clear"
On https://www.doctrine-project.org/contribute/index.html page it is said that

but I haven't found info, why I must not rebase.
Also, there is no mentions on the cases like this
1) create branch
2) do work
3) `rebase` (this is ok, right?)
4) push and open PR
5) review started, fixes required
6) commit something
7) everything is ok with PR, but there is merge conflicts,
8) `pull --rebase` with the

[2020-01-22 18:27] malarzm commented on #334
Indeed the "must not rebase" part makes absolutely no sense, rebasing is a pretty common thing we ask contributors to do. @greg0ire IIRC you've compiled a list of responses with tips how to proceed with git, would you mind taking a look what can we improve here? Or maybe entire page needs an overhaul

[2020-01-22 18:47] greg0ire commented on #334
I will take a look 👍

[2020-01-23 21:58] #334 closed

[2020-02-19 18:37] o-alquimista opened #337 "Navbar glitchy when expanding in a certain viewport size"
See it yourself:
![Peek 19-02-2020 15-28](https://user-images.githubusercontent.com/25424263/74863355-8730a500-532c-11ea-9556-d0f78c200ca5.gif)

This only happens at a specific viewport size.

To reproduce:
- Start from a very small window size and slowly increase its width until the navigation sidebar appears to the left. That's probably the `md` breakpoint.
- Click the hamburguer menu icon to ex

[2020-02-19 19:43] SenseException commented on #337
It is also reproducible in Chrome.

[2020-03-24 13:56] pushpak1300 opened #341 "Extra white gap on right side in mobile view"
on domain
 https://www.doctrine-project.org/projects/doctrine-dbal/en/2.9/reference/configuration.html#configuration
 extra white gap on right-side of screen in mobile view.
![Screenshot (92)](https://user-images.githubusercontent.com/31663512/66712954-08e25600-edc2-11e9-84d3-524bd025ffdf.png)

[2020-03-24 13:56] pushpak1300 commented on #341
Can anyone assign this issue to me?

[2020-03-24 22:53] SenseException commented on #341
@pushpak1300 Do you like to create a PR for this issue because you want it to be assigned to you?

[2020-03-25 06:52] pushpak1300 commented on #341
Yes, @SenseException I will create PR for the issue.

[2020-08-07 21:53] greeflas opened #354 ""Deliberate git" link goes to 404 page"
Hi!
I have just read [Contribute docs](https://www.doctrine-project.org/contribute/index.html) and found that "Deliberate git" link goes to 404 page.
Maybe you have some mirror link to update this doc?

[2020-08-08 18:29] SenseException commented on #354
Seems like the the path of the target page got renamed. A short search shows it's now https://www.rakeroutes.com/deliberate-git.

Thank you for reporting.

[2020-08-08 18:47] greeflas commented on #354
You are welcome.

[2020-08-13 18:31] #354 closed

[2020-10-03 17:54] morozov opened #366 "Cannot install with Composer 2"
[code]

[2020-10-07 03:54] morozov opened #369 "Add support for defining version tags instead of branches"
There's no much point in keeping the branches that correspond to the no longer supported versions in the repository. Contributors can create pull requests targeted at the branches that are no longer supported. The only reason we currently keep the branches in the DBAL is for the website.

This won't be necessary if the website can identify a no longer supported branch by its latest tag.

[2020-10-07 18:29] SenseException commented on #369
This was mentioned internally in Slack and using tags instead of branches is going to be a new additional configuration in `.doctrine-project.json` files.

I considered to fix doctrine/dbal#3338 in the older branches first, because a waiting release of doctrine/rst-parser would break the build there. This would still need branches to be available in the repository, but I scrapped this idea. My cur

[2020-10-07 20:00] morozov commented on #369
So far, I see that the `ProjectVersion` model already supports tags as such:
https://github.com/doctrine/doctrine-website/blob/2bec905fe15d5bed9231082749d0600ac52c519b/lib/Model/ProjectVersion.php#L69-L71
and the notion of the latest tag:
https://github.com/doctrine/doctrine-website/blob/2bec905fe15d5bed9231082749d0600ac52c519b/lib/Model/ProjectVersion.php#L168
Although I don't see any tests that

[2020-10-08 18:31] #366 closed

[2020-10-20 17:31] SenseException commented on #369
Tags are currently grouped with a version from the config file of a project (slug). If `branchName` becomes optional and the checkout process supports tags too, we could introduce tags for the documentation and don't need to have a branch for every old project version.

[2020-11-27 18:55] #369 closed

[2021-01-20 12:30] mdogancay opened #378 "Web site build error In ProjectDataBuilder.php line 204: Notice: Undefined index: branchName"
I'm trying to build a local copy of your web site using your contribution guide in your web site.
I made the necessary configuration settings. On the build web site data step i got an error :
[code]
[error output](https://ibb.co/0yBVLk5)
How can i fix this?

[2021-01-20 19:08] SenseException commented on #378
Could be related to #372. I see notices in the daily GitHub Actions build with the same message.

There are also some repositories that are currently a work in progress where branches get renamed or deleted without adapting the website config in each repository. This is why there can be problems with the website build at the moment.

[2021-01-21 10:26] mdogancay commented on #378
This PR must be manualy marged. Because i had to block ProcessFailedException in the /lib/ProcessFactory.php#run() function. Otherwise there is some other problems blocking the build process. With this PR, problems on this issue gain some flexibility. I made some comments on the code. U can see.

Thanks.

[2021-01-21 21:46] SenseException opened #380 "Drop .doctrine-website.json"
With an organisation wide branch naming (1.0.x, 1.1.x, 2.0.x) it should be possible to work with the metadata of the repositories alone to get the information for the website build of the documentation.

* The default branch is supposed to hold the current alias and is the supported version
* Every version number above the default branch name is an upcoming version
* The highest version branch nam

[2021-02-02 18:00] #378 closed

[2021-02-15 19:30] SenseException opened #388 "Move deployment to GitHub Actions"
The current deployment goes as the following, simplified, description:

* Change is pushed to the repository
* A server with a running cronjob realize a change happened and starts a website build
* After the website build on the server finished successfully, it deploys/pushes the generated static html to doctrine/doctrine-website-build-prod

In short: It fetches from GitHub and pushes it back to G

[2021-03-01 21:50] frost-byte opened #390 "Search Results always empty"
I am no longer able to see any live search results (my browser is scrolled to the top of the page)
It doesn't matter what I enter as a search term.

I'm using Google Chrome (Version 88.0.4324.150 (Official Build) (64-bit)) on Windows 10.
I just tried Firefox (v86.0 (64-bit)) and had the same issue.

![image](https://user-images.githubusercontent.com/852776/109563771-38285e80-7aae-11eb-965e-7909876

[2021-03-02 17:58] SenseException commented on #390
Thanks for opening this issue. Looks like this is still happening, depending on the version of the project. Some versions of a library still work.

[2021-03-04 22:54] SenseException commented on #390
I had to create the search-index manually for the DBAL and ORM projects. It should work again for the specific versions. Please take a look.

On an unrelated side note: The search-index creation for at least one project doc broke. I'll see if I can fix that. I'll also see if I can improve the search-index build for the regular build process of the website.

[2021-03-06 22:39] SenseException commented on #390
Seems like we reached our quota for the search engine and we have now no results at all. #392 needs to get a more sophisticated handling of a search-index build.

[2021-03-18 09:28] LeoAdamek opened #395 "Documentation Search is Broken"
Search within the [project's documentation](https://www.doctrine-project.org/projects/doctrine-orm/en/2.8/index.html) does not work. Attempting to search the documentation causes an error with the following message:

Due to this the documentation cannot be searched.

[2021-03-18 20:12] greg0ire commented on #395
Maybe we should file for an Algolia for Open Source plan at https://www.algolia.com/for-open-source/ if not already done.

[2021-03-18 21:18] SenseException commented on #395
See https://github.com/doctrine/doctrine-website/issues/390#issuecomment-792080951 for more info.

[2021-04-04 18:39] #341 closed

[2021-05-24 11:54] jacekkarczmarczyk opened #404 "fetchFirstColumn - not found when searching 3.0 docs"
![image](https://user-images.githubusercontent.com/15625235/119344096-86a55d80-bc97-11eb-8c97-02bf42d52b3d.png)

[2021-05-28 14:52] internalsystemerror opened #405 "Mapping XSD - Website Version vs Repo Version"
The XSD hosted on the website at https://www.doctrine-project.org/schemas/orm/doctrine-mapping.xsd is currently being generated from https://github.com/doctrine/doctrine-website/blob/master/source/schemas/orm/doctrine-mapping.xsd. However this differs in some key ways from https://github.com/doctrine/orm/blob/2.9.x/doctrine-mapping.xsd.

Which XSD should be used for validating the XML mappings? As

[2021-05-29 20:52] SenseException commented on #405
@greg0ire It would make more sense than having one xsd-file for every doc-version of ORM. Having a link to the file per version would be a nice-to-have though.

[2021-07-21 12:05] delasallejean opened #408 "High CPU usage when idle"
The CPU usage is high even when idle, between 15 and 30% on my laptop.

The source seem to be a loader (a SVG with a css animation) injected by the google translate javascript.
The animation triggers repaint events every second or so.

The repaint events can be seen using the profiler (just let it run 5 seconds without doing anything) and the following snippet to find the source:

[code]

The real

[2021-09-13 22:17] #390 closed

[2021-09-13 22:17] #395 closed

[2021-10-06 12:10] stof commented on #380
probably a way to avoid rate limiting (the rate limit for the GitHub API is very low for unauthenticated calls)

Well, especially for new major versions, providing some overlap for the maintenance windows seems important to me (as migrating is not instant).

The suggested policy would however imply that the default branch has to target the old major version rather than the last one, which seems we

[2021-10-06 12:11] stof commented on #380
A better policy would be "every version number above the default branch, and without a matching stable relese`, to account for maintaining 2.13.x and 3.0.x in parallel after the 3.0.0 release.

[2021-10-15 22:51] SenseException opened #417 "Create cronjob workflow to index website docs in Algolia"
There is currently no automated build step to index the docs in Algolia for the website search bar. This has the following reasons:

* There is an easy to reach limit per month for Algolia where the search won't work anymore if this limit is exceeded.
* There is no reason to build every project's documentation all the time since some don't change very often.

To be able to update the docs regularl

[2021-10-16 10:10] greg0ire commented on #417
After reading the code, it seems to me that we only do 1 call to `addObjects` per project… how low is that limit? One call to that method will only translate into several requests if there are more than 1000 objects (assuming we are using the default batch size: https://github.com/algolia/algoliasearch-client-php/blob/1c9440d8151cc4c9363128145b898946baffcd42/src/Config/SearchConfig.php#L31)

[2021-10-30 19:59] ThomasLandauer opened #422 "Suggestion: Remove Google translation bar"
I'm suggesting to remove the Google translation bar that was introduced in https://github.com/doctrine/doctrine-website/pull/141

Why?
1. Since it's loaded with JavaScript, it's causing a so-called Cumulative Layout Shift (CLS, see https://web.dev/cls/): After everything is on screen, the translation bar appears, moving everything down.
2. In that toolbar I've clicked the "Deactivate for English"

[2021-11-01 17:50] SenseException commented on #422
The bar was, as far as I remember, a quick win to provide docs in multiple languages. I don't know how heavily it's used by our visitors, so just removing them isn't an appropriate option. If there's a way how we can see if people are enabling translations?

[2021-11-15 10:23] MockingMagician opened #424 "Algolia search does not work anymore"
Hi,

It looks like the algolia search engine always return not found result for any searched terms. But for sure, it should be.

Search done from URI : https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.2/

![Capture d’écran de 2021-11-15 11-14-30](https://user-images.githubusercontent.com/33423809/141765109-77c0e39f-e615-43b0-9515-b56aaf85dc87.png)

![Capture d’écran de 2021-11-1

[2021-11-24 11:04] kevin-rv commented on #424
Hi,  I have the same problem when it will be solved ?

[2021-11-24 19:17] greg0ire commented on #424
Seems related to #417

[2021-11-24 22:26] SenseException commented on #424
It depends on new branches of projects. When a new branch or version gets released, the search index for that version doesn't exist yet. It currently needs to be created manually. There's also a change when the previous `latest` version gets replaced by a new one and won't have an available version-fit index.

I've created the search-index for mongodb-odm 2.2 now and it should work.

[2021-11-25 08:18] MockingMagician commented on #424
Hi @greg0ire , @SenseException

Thanks for all, but it still not work.

[2021-11-25 20:22] SenseException commented on #424
This time we have reached the limit for the month. The search of the other docs aren't working anymore too. This is something I cannot fix :disappointed:

[2021-11-26 12:12] MockingMagician commented on #424
@SenseException Gosh!

It is hudge problem here, cause most part of the doc is not accessible from doc menu. It is possible to help you in any way ?

[2021-11-26 13:02] greg0ire commented on #424
You can contribute something to https://github.com/doctrine/mongodb-odm/blob/2.2.x/docs/en/sidebar.rst if it's missing

[2021-11-26 18:09] malarzm commented on #424
@greg0ire I believe the problem is that we do have those in the sidebar, but they're not visible: https://github.com/doctrine/mongodb-odm/issues/2099. Maybe it'll be easier to debug the issue now the build process is on Github?

[2021-12-01 23:15] SenseException commented on #424
Different issue. As @malarzm already mentioned are the missing sidebar links part of doctrine/mongodb-odm#2099. I've put a comment into the issue about a possible reason for the missing links, but the source of it needs to be found. Please use the issue there for the doc menu problems. I assume other Doctrine projects might also have this problem.

[2021-12-14 17:41] morozov commented on #417
Given that all the website contents are versioned in Git, instead of building the search index via a corn job, would it make sense to build it based on the diff between the previous and the new website version?

[2021-12-14 22:50] SenseException commented on #417
I haven't taken a look into the search index itself but not every change in the docs would affect the search index. One of my first thoughts was about building the index when a change can be found with a diff but there are usually not that many changes which is why I thought about cronjobs as a first step.

The website code is currently flawed when it comes to indexing for a certain project and ve

[2022-10-15 09:47] AntonUnger opened #460 "Is there any way to drop the top post about ukraine help?"
The post "Ukraine needs your help now!", being very true, hinders a lot, especially on small screen devices. Perhaps, would be better to place it otherwhere.

[2022-10-15 09:52] greg0ire commented on #460
Just tried because I was wondering why it would disappear on desktop and not on mobile, and that seems to be because it takes 2 lines of text on mobile. The first one is hidden as intended, but not the second one.

[2022-10-15 17:38] AntonUnger commented on #460
Agreed.

[2022-10-17 21:07] #460 closed